<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzJv608_HGrJFL6jNVvW6hqBAzzabUINY</string>
	<key>GCM_SENDER_ID</key>
	<string>1033030216210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ovuHealthcareApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ovu-healthcare-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ovu-healthcare-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033030216210:ios:6d105f857cfa96d15386cb</string>
</dict>
</plist>